
<div class="container" style="margin-top:10%;">
	<div class="table-responsive">
		  <table class="table">
		    <tr>
		    <th>ID </th>
		    <th>Name </th>
		    <th>Title </th>
		    <th>E-mail </th>
		    <th> </th>
		    <th> </th>
		    <th> </th>
		    <th> </th>
		    </tr>

		    <% _.each(users,function(user){ %>
		    	<tr data-id="<%= user.id %>" data-model="user">
		    		<td> <%= user.id %> </td>
		    		<td> <%= user.name %> </td>
		    		<td> <%= user.title %> </td>
		    		<td> <%= user.email %> </td>
		    		<% if(user.isAdmin) { %>
		    			<td><img src="images/crown.png" width="50px"> </img></td>
		    		 <% } else { %>
		    		 <td><img src="images/bishop.png" width="50px"> </img></td>
		    		 <% } %>
		    		<td> <a class="btn btn-sm btn-primary" href="/user/show/<%= user.id %>">Show</a></td>
		    		<td><a class="btn btn-sm btn-warning" href="/user/edit/<%= user.id %>">Edit</a> </td>
		    		<td><a class="btn btn-sm btn-danger" href="/user/destroy/<%= user.id %>">Delete</a> </td>
		    	</tr>
		    <% }) %>
		  </table>
	</div>
</div>