<br>
<br>
<br>
<br>
<div class="container">
</br>
<% if(session.authenticalted) { %> 
<h1>welcome <%= session.User.name %> </h1>
<% } %>
<div class="table-responsive">
		  <table class="table">
		    <tr>
		    <th>ID </th>
		    <th>Name </th>
		    <th>Mobile Phone </th>
		    <th>E-mail </th>
		    <th> </th>
		    </tr>
		    	<tr data-id="<%= user.id %>" data-model="user">
		    		<td> <%= user.id %> </td>
		    		<td> <%= user.name %> </td>
		    		<td> <%= user.mobile_phone %> </td>
		    		<td> <%= user.email %> </td>
		    		<% if(user.isAdmin) { %>
		    			<td><img src="/images/crown.png" width="50px"> </img></td>
		    		 <% } else { %>
		    		 <td><img src="/images/bishop.png" width="50px"> </img></td>
		    		 <% } %>
		    	</tr>
		  </table>
	</div>
<a class="btn btn-medium btn-primary" href="/user/edit/<%= user.id %>">Edit</a>
</div>

